 EXERCICE 1

In [3]:
#1.Creation de DataFrame
import numpy as np
import pandas as pd
A= np.array([["Doudou","10","75","4.5","M"],["Amy","15","123","5.0","F"],["Moussa","20","239","6.1","M"]])
df1=pd.DataFrame(A,index=["0","1","2"], columns =["Nom","Age","Poids","Paille","Genre"])
df1

      Nom Age Poids Paille Genre
0  Doudou  10    75    4.5     M
1     Amy  15   123    5.0     F
2  Moussa  20   239    6.1     M

In [4]:
#2.
a=np.array([["12","22"],["20","19"]])
animaux=pd.DataFrame(a,index=[" an 1"," an 2"],columns=["Vaches","Chevres"])
animaux

      Vaches Chevres
 an 1     12      22
 an 2     20      19

In [5]:
animaux.to_csv("vache_chevre.csv")

In [6]:
import pandas as pd
animaux=pd.read_csv("vache_chevre.csv",index_col=0)
animaux

       Vaches  Chevres
 an 1      12       22
 an 2      20       19

EXERCICE 2:

In [7]:
#Question 1
import pandas as pd
R=pd.read_csv("boissons_evaluees.csv",index_col=0)
R

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [6]:
#Question 2
A=R.points.median()
A

88.0

In [8]:
#Question 3


Pays=R.country.unique()
Pays

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

In [8]:
#Question 4

Frequence_Pays=R.country.value_counts()
Frequence_Pays

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

In [9]:
#Question 4 avec Groupby
boisson_pays=R.groupby("country").points.unique()
boisson_pays

country
Argentina                 [87, 88, 90, 85, 89, 92, 93, 91, 86, 83, 84, 9...
Armenia                                                            [87, 88]
Australia                 [86, 92, 87, 85, 100, 98, 97, 95, 90, 88, 94, ...
Austria                   [88, 89, 92, 85, 87, 91, 90, 86, 93, 94, 82, 8...
Bosnia and Herzegovina                                             [85, 88]
Brazil                             [88, 83, 84, 86, 82, 81, 80, 85, 87, 89]
Bulgaria                       [86, 90, 87, 83, 88, 89, 84, 85, 91, 82, 80]
Canada                    [92, 83, 91, 87, 90, 89, 88, 94, 84, 82, 86, 8...
Chile                     [86, 85, 87, 91, 88, 83, 81, 80, 90, 84, 92, 8...
China                                                                  [89]
Croatia                        [88, 83, 87, 90, 85, 89, 86, 82, 84, 91, 81]
Cyprus                                                     [85, 87, 89, 88]
Czech Republic                                         [85, 87, 89, 88, 84]
Egypt                                                                  [84]
England                                        [90, 91, 95, 94, 89, 93, 92]
France                    [87, 86, 85, 88, 92, 91, 90, 89, 83, 82, 96, 9...
Georgia                            [88, 87, 90, 86, 85, 84, 83, 89, 92, 82]
Germany                   [87, 86, 91, 97, 96, 95, 92, 90, 88, 89, 94, 8...
Greece                     [89, 87, 88, 90, 86, 85, 84, 92, 93, 91, 82, 83]
Hungary                   [90, 96, 85, 89, 88, 94, 87, 86, 93, 91, 81, 9...
India                                              [93, 89, 90, 91, 92, 87]
Israel                    [90, 88, 85, 86, 87, 89, 92, 81, 84, 91, 82, 8...
Italy                     [87, 86, 85, 88, 92, 91, 90, 89, 97, 95, 93, 9...
Lebanon                            [91, 84, 89, 90, 88, 87, 82, 83, 85, 86]
Luxembourg                                                     [89, 88, 90]
Macedonia                                          [88, 89, 87, 85, 84, 86]
Mexico                    [88, 87, 83, 86, 84, 90, 82, 85, 89, 92, 91, 8...
Moldova                            [87, 90, 89, 83, 85, 86, 82, 88, 91, 84]
Morocco                                    [90, 86, 89, 93, 87, 85, 88, 91]
New Zealand               [88, 87, 91, 85, 84, 90, 89, 86, 94, 92, 93, 8...
Peru                                           [85, 82, 81, 86, 83, 84, 80]
Portugal                  [87, 86, 91, 90, 92, 85, 88, 94, 93, 84, 89, 8...
Romania                            [87, 85, 88, 86, 92, 89, 84, 83, 82, 90]
Serbia                                                     [87, 89, 88, 86]
Slovakia                                                               [87]
Slovenia                       [84, 87, 89, 88, 90, 85, 86, 83, 82, 91, 92]
South Africa              [91, 90, 89, 87, 92, 85, 88, 84, 86, 94, 93, 9...
Spain                     [87, 86, 91, 90, 85, 92, 82, 89, 93, 88, 84, 8...
Switzerland                                                    [90, 89, 83]
Turkey                                 [88, 84, 90, 89, 86, 87, 92, 91, 85]
US                        [87, 86, 85, 88, 92, 91, 90, 89, 82, 96, 95, 9...
Ukraine                                            [83, 82, 84, 85, 88, 86]
Uruguay                   [88, 86, 90, 84, 87, 83, 92, 82, 91, 85, 89, 8...
Name: points, dtype: object

In [10]:
boisson_pays=R.groupby("country").points.unique()
boisson_pays[0]
boisson_pays.index

Index(['Argentina', 'Armenia', 'Australia', 'Austria',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Canada', 'Chile',
       'China', 'Croatia', 'Cyprus', 'Czech Republic', 'Egypt', 'England',
       'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'India', 'Israel',
       'Italy', 'Lebanon', 'Luxembourg', 'Macedonia', 'Mexico', 'Moldova',
       'Morocco', 'New Zealand', 'Peru', 'Portugal', 'Romania', 'Serbia',
       'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Switzerland',
       'Turkey', 'US', 'Ukraine', 'Uruguay'],
      dtype='object', name='country')

In [11]:
boisson_pays=R.groupby("points").country.unique()
boisson_pays

points
80     [Chile, Portugal, Italy, Spain, Argentina, US,...
81     [Chile, US, France, Spain, Argentina, Portugal...
82     [France, Spain, US, Chile, Portugal, Italy, Ar...
83     [Chile, France, US, Italy, Spain, Argentina, C...
84     [US, France, Chile, New Zealand, Italy, Portug...
85     [Chile, Italy, France, US, Argentina, Australi...
86     [US, France, Italy, Chile, Germany, Australia,...
87     [Italy, Portugal, US, Spain, France, Germany, ...
88     [Italy, US, Austria, France, New Zealand, Chil...
89     [US, South Africa, France, Argentina, Italy, A...
90     [South Africa, France, Italy, US, Israel, Port...
91     [South Africa, France, Italy, US, Germany, Por...
92     [France, Italy, US, Australia, Austria, Argent...
93     [US, Italy, France, Argentina, Spain, Portugal...
94     [Portugal, US, Italy, Australia, France, Germa...
95     [Australia, France, Germany, Italy, US, Spain,...
96     [Hungary, US, France, Germany, Italy, Spain, P...
97     [Germany, Australia, Italy, France, US, Portug...
98     [Australia, France, US, Italy, Germany, Portug...
99              [US, Italy, France, Portugal, Australia]
100             [Australia, Italy, France, Portugal, US]
Name: country, dtype: object

In [12]:
from pandas import Series

#Series de boisson par pays
boisson_pays=R.groupby("country").points.unique()
critique=[]
for i in range(len(boisson_pays.index)):
    critique.append(len(boisson_pays[i]))
#critique

Serie_boisson=Series(critique , index=boisson_pays.index)

Serie_boisson

country
Argentina                 18
Armenia                    2
Australia                 21
Austria                   17
Bosnia and Herzegovina     2
Brazil                    10
Bulgaria                  11
Canada                    13
Chile                     16
China                      1
Croatia                   11
Cyprus                     4
Czech Republic             5
Egypt                      1
England                    7
France                    21
Georgia                   10
Germany                   18
Greece                    12
Hungary                   16
India                      6
Israel                    15
Italy                     21
Lebanon                   10
Luxembourg                 3
Macedonia                  6
Mexico                    13
Moldova                   10
Morocco                    8
New Zealand               16
Peru                       7
Portugal                  21
Romania                   10
Serbia                     4
Slovakia                   1
Slovenia                  11
South Africa              14
Spain                     19
Switzerland                3
Turkey                     9
US                        21
Ukraine                    6
Uruguay                   13
dtype: int64

In [12]:
S=R.designation.value_counts()
df=pd.DataFrame(S)
df

                               designation
Reserve                               2009
Estate                                1322
Reserva                               1259
Riserva                                698
Estate Grown                           621
...                                    ...
Ilercavònia                              1
VA                                       1
Sein                                     1
Vigna Riserva                            1
Lieu-dit Harth Cuvée Caroline            1

[37979 rows x 1 columns]

In [13]:
#Question 5

prix_centre=R.price.mean()
R.price.map(lambda P: P- prix_centre)

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

In [14]:
#Question 6:

boisson_negociee=R.points/R.price
indice_meilleure_boisson=np.where(boisson_negociee.values==boisson_negociee.max())
meilleure_boisson=[]
for i in range(len(indice_meilleure_boisson[0])):
    meilleure_boisson.append(R.title[indice_meilleure_boisson[0][i]])
print("La boisson présentant le meilleure rapport qualité/prix (égal à",boisson_negociee.max(),")est :",meilleure_boisson)

La boisson présentant le meilleure rapport qualité/prix (égal à 21.5 )est : ['Bandit NV Merlot (California)', 'Cramele Recas 2011 UnWineD Pinot Grigio (Viile Timisului)']

EXERCICE 3:

In [15]:
##Question 1
#1
#S=R.designation.value_counts()
#S.head()
bf=R.points.value_counts()
#print bf
bf.index[0:6]
#bf

Int64Index([88, 87, 90, 86, 89, 91], dtype='int64')

In [17]:
#2
from pandas import Series
import numpy as np

twitter_critique=R.groupby("taster_twitter_handle").points.unique()
critique_twit=[]
for i in range(len(twitter_critique.index)):
    critique_twit.append(len(twitter_critique[i]))
    
serie_twit_critique=Series(critique_twit,index=twitter_critique.index)
serie_twit_critique

taster_twitter_handle
@AnneInVino         17
@JoeCz              21
@bkfiona             7
@gordone_cellars    18
@kerinokeefe        21
@laurbuzz           15
@mattkettmann       17
@paulgwine          21
@suskostrzewa       15
@vboone             20
@vossroger          21
@wawinereport       18
@wineschach         19
@winewchristina      4
@worldwineguys      16
dtype: int64

In [16]:
#Question 2
price=R.price.unique()
price

array([  nan,   15.,   14.,   13.,   65.,   16.,   24.,   12.,   27.,
         19.,   30.,   34.,   28.,   32.,   23.,   20.,   22.,   35.,
         69.,   10.,   17.,   50.,   21.,   11.,    9.,   40.,   55.,
        100.,   25.,   58.,   26.,   46.,   75.,   18.,   29.,   85.,
         44.,   80.,   70.,   36.,   39.,   45.,   48.,   68.,   78.,
         60.,  112.,   84.,   64.,   38.,   95.,   62.,   57.,   49.,
         37.,   52.,   41.,  215.,  125.,   56.,    7.,   42.,  350.,
        775.,  225.,  150.,  320.,  630.,  365.,   66.,  110.,  200.,
        380.,  160.,   89.,   54.,  115.,   73.,   72.,  130.,   88.,
         59.,   90.,   53.,   43.,  120.,    8.,  102.,   33.,  105.,
        101.,  117.,  175.,  180.,   98.,   47.,   31.,   86.,  135.,
        154.,  132.,   71.,   92.,   94., 1900.,  170.,  220., 1100.,
         82.,  280., 1200.,  195., 1300.,  400.,  163.,    6.,  126.,
         63.,   74.,  300.,  270.,    4.,   76.,   79.,  107.,  106.,
        260.,   96.,    5.,  164.,  190.,  205.,  145.,   67.,  140.,
        210.,  161.,  155.,  146.,  230.,   51.,   61.,  104.,  148.,
        209.,   99.,  430.,  550.,  475.,  235.,  165.,  375.,  398.,
        273.,  152.,  500.,  285.,  250.,   81.,  286.,  262.,  113.,
         77.,  275.,   91.,  450.,  114.,  224.,  138.,  299.,  359.,
        185.,  149.,  109.,   87.,  119.,   97.,  127.,   93.,  330.,
        193.,   83.,  460.,  174.,  187.,  520.,  166.,  257.,  199.,
        103.,  108.,  142.,  333.,  144.,  153.,  234.,  159.,  698.,
       2500.,  770.,  141.,  316.,  240.,  116.,  111.,  151.,  128.,
        305.,  129.,  179.,  279.,  325.,  685.,  600.,  143.,  304.,
        510.,  370.,  440.,  360.,  118.,  314.,  169.,  315.,  133.,
        214.,  212.,  625.,  355.,  171.,  306.,  242.,  124.,  206.,
        290.,  158.,  367.,  265.,  184.,  231.,  540.,  474.,  227.,
        886.,  569.,  710.,  249.,  388.,  236.,  194.,  243.,  167.,
        245.,  147.,  122.,  207.,  595.,  172.,  248.,  317.,  259.,
        800., 1000.,  162.,  391.,  139.,  134.,  253.,  301.,  780.,
        293.,  428.,  980.,  323.,  182.,  419.,  255.,  476.,  131.,
        181.,  292.,  319.,  764.,  137.,  574.,  451.,  310.,  258.,
        750.,  467.,  208.,  168.,  307.,  222.,  932.,  767.,  426.,
        588.,  850.,  820.,  530.,  385.,  203.,  425.,  202.,  282.,
        226.,  196.,  229., 2000.,  480.,  496.,  295.,  399.,  650.,
        219.,  486.,  455.,  580.,  545.,  156.,  272.,  412.,  188.,
        216.,  525.,  276.,  157.,  237.,  790.,  121.,  303., 3300.,
        369.,  322.,  410.,  420.,  197.,  247.,  757.,  328.,  390.,
        499.,  469.,  252.,  602.,  353.,  973.,  177.,  415.,  351.,
        900.,  312.,  617.,  639.,  288.,  468.,  281.,  357.,  123.,
        675.,  560.,  269.,  395.,  204.,  136.,  495.,  660.,  176.,
        183., 1500.,  463.,  448.,  376.,  198.,  575., 1125.,  470.,
        268.,  189.,  445.,  612.,  271.,  228.,  191.,  239., 2013.,
        335.,  238.,  672.,  848.])

In [29]:
#Question 3:
while True:
    try:
        sommedonnee=int(input("Entrer la somme dont vous disposez : /"))
        assert  sommedonnee>0
        break
    except ValueError:
        print("Vous n'avez pas saisi un nombre.")
    except AssertionError:
        print("La somme saisie est inférieure ou égale à 0.")
        
SD=R.loc[R.loc[:,"price"]<=sommedonnee]
meilleureB=SD.points/SD.price
SD.insert(2,"meilleureB", meilleureB,allow_duplicates=False)
meilleure_boisson=SD.loc[SD.loc[:,"meilleureB"]==np.nanmax(meilleureB)]
meilleure_boisson.title
meilleure_boisson

Entrer la somme dont vous disposez : /23

,country,description,meilleureB,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
64590,US,"There's a lot going on in this Merlot, which i...",21.5,NaN,86,4.0,California,California,California Other,NaN,NaN,Bandit NV Merlot (California),Merlot,Bandit
126096,Romania,Notes of sun-dried hay and green flower highli...,21.5,UnWineD,86,4.0,Viile Timisului,NaN,NaN,Anna Lee C. Iijima,NaN,Cramele Recas 2011 UnWineD Pinot Grigio (Viile...,Pinot Grigio,Cramele Recas

In [18]:
#Question2 suite:

B_trie=R.groupby("price").points.max()

B_trie=B_trie.sort_values()
B_trie

price
4.0        86
5.0        87
790.0      87
181.0      88
3300.0     88
         ...
617.0     100
450.0     100
650.0     100
460.0     100
150.0     100
Name: points, Length: 390, dtype: int64

In [19]:
#Question 3

v=R.groupby("variety").price.unique()
v.index

Index(['Abouriou', 'Agiorgitiko', 'Aglianico', 'Aidani', 'Airen', 'Albana',
       'Albanello', 'Albariño', 'Albarossa', 'Aleatico',
       ...
       'Yapincak', 'Zelen', 'Zibibbo', 'Zierfandler', 'Zierfandler-Rotgipfler',
       'Zinfandel', 'Zlahtina', 'Zweigelt', 'Çalkarası', 'Žilavka'],
      dtype='object', name='variety', length=707)

In [20]:
Table_max=[]
for i in range (len(v.index)):
    M=max(v[i])
    Table_max.append(M)
Table_max

[75.0,
 66.0,
 180.0,
 27.0,
 10.0,
 50.0,
 20.0,
 75.0,
 40.0,
 55.0,
 50.0,
 30.0,
 150.0,
 36.0,
 98.0,
 19.0,
 24.0,
 75.0,
 15.0,
 30.0,
 30.0,
 33.0,
 nan,
 nan,
 48.0,
 55.0,
 40.0,
 nan,
 40.0,
 36.0,
 18.0,
 115.0,
 nan,
 32.0,
 30.0,
 15.0,
 60.0,
 45.0,
 nan,
 36.0,
 80.0,
 60.0,
 100.0,
 30.0,
 32.0,
 18.0,
 26.0,
 nan,
 30.0,
 25.0,
 45.0,
 40.0,
 12.0,
 17.0,
 19.0,
 16.0,
 129.0,
 100.0,
 9.0,
 nan,
 11.0,
 40.0,
 3300.0,
 1000.0,
 30.0,
 33.0,
 27.0,
 40.0,
 230.0,
 40.0,
 260.0,
 180.0,
 90.0,
 12.0,
 20.0,
 120.0,
 125.0,
 64.0,
 18.0,
 35.0,
 625.0,
 23.0,
 45.0,
 106.0,
 85.0,
 135.0,
 95.0,
 20.0,
 50.0,
 125.0,
 100.0,
 19.0,
 11.0,
 150.0,
 40.0,
 60.0,
 49.0,
 19.0,
 21.0,
 770.0,
 65.0,
 80.0,
 42.0,
 87.0,
 45.0,
 31.0,
 235.0,
 66.0,
 37.0,
 195.0,
 58.0,
 70.0,
 19.0,
 74.0,
 19.0,
 36.0,
 54.0,
 50.0,
 20.0,
 35.0,
 35.0,
 600.0,
 20.0,
 45.0,
 11.0,
 2013.0,
 58.0,
 34.0,
 59.0,
 17.0,
 24.0,
 16.0,
 16.0,
 30.0,
 nan,
 28.0,
 25.0,
 159.0,
 25.0,
 14.0,
 35.0,
 30.0,
 32.0,
 58.0,
 30.0,
 140.0,
 20.0,
 39.0,
 42.0,
 13.0,
 13.0,
 40.0,
 50.0,
 nan,
 530.0,
 40.0,
 18.0,
 20.0,
 130.0,
 10.0,
 100.0,
 47.0,
 53.0,
 nan,
 45.0,
 35.0,
 28.0,
 nan,
 16.0,
 19.0,
 60.0,
 35.0,
 nan,
 50.0,
 40.0,
 18.0,
 77.0,
 22.0,
 22.0,
 12.0,
 88.0,
 16.0,
 27.0,
 160.0,
 16.0,
 24.0,
 42.0,
 22.0,
 90.0,
 40.0,
 75.0,
 764.0,
 85.0,
 52.0,
 nan,
 29.0,
 11.0,
 63.0,
 290.0,
 49.0,
 28.0,
 45.0,
 13.0,
 57.0,
 16.0,
 25.0,
 17.0,
 99.0,
 35.0,
 197.0,
 60.0,
 75.0,
 70.0,
 26.0,
 147.0,
 17.0,
 48.0,
 20.0,
 44.0,
 20.0,
 60.0,
 nan,
 230.0,
 40.0,
 65.0,
 22.0,
 40.0,
 60.0,
 60.0,
 35.0,
 70.0,
 17.0,
 40.0,
 54.0,
 23.0,
 26.0,
 16.0,
 39.0,
 1100.0,
 29.0,
 30.0,
 30.0,
 27.0,
 33.0,
 13.0,
 40.0,
 20.0,
 35.0,
 25.0,
 15.0,
 28.0,
 40.0,
 14.0,
 15.0,
 15.0,
 70.0,
 44.0,
 15.0,
 25.0,
 13.0,
 15.0,
 70.0,
 24.0,
 25.0,
 23.0,
 30.0,
 51.0,
 45.0,
 35.0,
 25.0,
 10.0,
 53.0,
 14.0,
 8.0,
 nan,
 18.0,
 nan,
 25.0,
 22.0,
 8.0,
 400.0,
 95.0,
 33.0,
 165.0,
 100.0,
 169.0,
 43.0,
 50.0,
 49.0,
 78.0,
 80.0,
 14.0,
 35.0,
 66.0,
 30.0,
 27.0,
 30.0,
 78.0,
 23.0,
 31.0,
 25.0,
 nan,
 nan,
 nan,
 35.0,
 11.0,
 25.0,
 19.0,
 109.0,
 74.0,
 35.0,
 56.0,
 130.0,
 135.0,
 105.0,
 24.0,
 30.0,
 15.0,
 50.0,
 12.0,
 17.0,
 105.0,
 24.0,
 80.0,
 113.0,
 125.0,
 625.0,
 12.0,
 75.0,
 60.0,
 96.0,
 10.0,
 85.0,
 20.0,
 18.0,
 24.0,
 25.0,
 9.0,
 35.0,
 19.0,
 150.0,
 25.0,
 88.0,
 23.0,
 45.0,
 48.0,
 20.0,
 105.0,
 26.0,
 63.0,
 18.0,
 55.0,
 137.0,
 13.0,
 25.0,
 27.0,
 90.0,
 50.0,
 37.0,
 40.0,
 20.0,
 13.0,
 95.0,
 75.0,
 30.0,
 30.0,
 350.0,
 25.0,
 350.0,
 30.0,
 20.0,
 50.0,
 32.0,
 25.0,
 26.0,
 19.0,
 28.0,
 22.0,
 34.0,
 40.0,
 30.0,
 33.0,
 55.0,
 595.0,
 45.0,
 100.0,
 50.0,
 nan,
 90.0,
 nan,
 30.0,
 24.0,
 39.0,
 48.0,
 16.0,
 18.0,
 35.0,
 15.0,
 55.0,
 22.0,
 27.0,
 30.0,
 58.0,
 48.0,
 57.0,
 175.0,
 35.0,
 24.0,
 11.0,
 14.0,
 35.0,
 18.0,
 55.0,
 258.0,
 45.0,
 19.0,
 128.0,
 nan,
 199.0,
 115.0,
 145.0,
 21.0,
 nan,
 37.0,
 50.0,
 23.0,
 18.0,
 70.0,
 45.0,
 165.0,
 90.0,
 27.0,
 16.0,
 19.0,
 70.0,
 35.0,
 135.0,
 20.0,
 145.0,
 150.0,
 2500.0,
 35.0,
 80.0,
 40.0,
 275.0,
 10.0,
 13.0,
 65.0,
 20.0,
 nan,
 450.0,
 45.0,
 45.0,
 95.0,
 15.0,
 28.0,
 28.0,
 15.0,
 80.0,
 80.0,
 28.0,
 48.0,
 66.0,
 45.0,
 237.0,
 23.0,
 49.0,
 50.0,
 80.0,
 495.0,
 19.0,
 35.0,
 25.0,
 500.0,
 50.0,
 500.0,
 253.0,
 120.0,
 47.0,
 775.0,
 40.0,
 18.0,
 38.0,
 30.0,
 27.0,
 11.0,
 30.0,
 30.0,
 28.0,
 53.0,
 nan,
 150.0,
 800.0,
 38.0,
 nan,
 42.0,
 100.0,
 16.0,
 50.0,
 48.0,
 nan,
 62.0,
 35.0,
 40.0,
 nan,
 nan,
 800.0,
 55.0,
 nan,
 44.0,
 66.0,
 40.0,
 18.0,
 95.0,
 135.0,
 20.0,
 35.0,
 22.0,
 nan,
 89.0,
 14.0,
 40.0,
 18.0,
 12.0,
 25.0,
 90.0,
 25.0,
 125.0,
 25.0,
 25.0,
 70.0,
 17.0,
 85.0,
 50.0,
 45.0,
 170.0,
 850.0,
 75.0,
 80.0,
 65.0,
 25.0,
 22.0,
 29.0,
 10.0,
 225.0,
 23.0,
 15.0,
 279.0,
 25.0,
 20.0,
 23.0,
 40.0,
 36.0,
 250.0,
 181.0,
 90.0,
 24.0,
 50.0,
 40.0,
 38.0,
 750.0,
 13.0,
 60.0,
 69.0,
 85.0,
 35.0,
 95.0,
 45.0,
 14.0,
 59.0,
 55.0,
 49.0,
 85.0,
 45.0,
 90.0,
 nan,
 79.0,
 20.0,
 18.0,
 nan,
 65.0,
 42.0,
 nan,
 40.0,
 600.0,
 40.0,
 450.0,
 600.0,
 28.0,
 nan,
 40.0,
 30.0,
 23.0,
 20.0,
 45.0,
 72.0,
 15.0,
 236.0,
 25.0,
 60.0,
 30.0,
 53.0,
 14.0,
 40.0,
 60.0,
 45.0,
 28.0,
 112.0,
 nan,
 250.0,
 50.0,
 35.0,
 25.0,
 450.0,
 9.0,
 204.0,
 35.0,
 75.0,
 175.0,
 140.0,
 30.0,
 20.0,
 40.0,
 36.0,
 46.0,
 45.0,
 nan,
 144.0,
 40.0,
 7.0,
 100.0,
 18.0,
 60.0,
 30.0,
 35.0,
 18.0,
 38.0,
 45.0,
 22.0,
 60.0,
 26.0,
 27.0,
 14.0,
 nan,
 12.0,
 27.0,
 12.0,
 44.0,
 29.0,
 50.0,
 13.0,
 40.0,
 22.0,
 50.0,
 10.0,
 16.0,
 220.0,
 57.0,
 18.0,
 17.0,
 45.0,
 69.0,
 157.0,
 45.0,
 36.0,
 40.0,
 25.0,
 24.0,
 60.0,
 85.0,
 25.0,
 21.0,
 26.0,
 140.0,
 49.0,
 15.0,
 35.0,
 28.0,
 65.0,
 17.0,
 35.0,
 nan,
 85.0,
 80.0,
 14.0,
 13.0,
 11.0,
 20.0,
 45.0,
 75.0,
 nan,
 nan,
 40.0,
 30.0,
 20.0,
 38.0,
 21.0,
 20.0,
 nan,
 60.0,
 nan,
 25.0,
 100.0,
 16.0,
 70.0,
 19.0,
 15.0]

In [21]:
Table_min=[]
for i in range (len(v.index)):
    M=min(v[i])
    Table_min.append(M)
Table_min

[15.0,
 10.0,
 6.0,
 27.0,
 8.0,
 12.0,
 20.0,
 10.0,
 40.0,
 25.0,
 11.0,
 10.0,
 7.0,
 13.0,
 10.0,
 15.0,
 18.0,
 9.0,
 9.0,
 22.0,
 11.0,
 25.0,
 nan,
 nan,
 36.0,
 7.0,
 14.0,
 nan,
 12.0,
 12.0,
 18.0,
 14.0,
 nan,
 15.0,
 12.0,
 13.0,
 16.0,
 45.0,
 nan,
 18.0,
 9.0,
 20.0,
 10.0,
 30.0,
 9.0,
 18.0,
 26.0,
 nan,
 8.0,
 25.0,
 8.0,
 19.0,
 12.0,
 17.0,
 19.0,
 15.0,
 9.0,
 10.0,
 9.0,
 nan,
 11.0,
 9.0,
 7.0,
 6.0,
 30.0,
 19.0,
 11.0,
 12.0,
 34.0,
 12.0,
 9.0,
 10.0,
 15.0,
 12.0,
 20.0,
 38.0,
 22.0,
 8.0,
 18.0,
 25.0,
 4.0,
 14.0,
 45.0,
 18.0,
 8.0,
 8.0,
 6.0,
 10.0,
 30.0,
 9.0,
 9.0,
 9.0,
 11.0,
 17.0,
 16.0,
 17.0,
 10.0,
 19.0,
 21.0,
 10.0,
 17.0,
 17.0,
 18.0,
 14.0,
 8.0,
 31.0,
 6.0,
 12.0,
 11.0,
 19.0,
 26.0,
 7.0,
 19.0,
 9.0,
 13.0,
 36.0,
 30.0,
 50.0,
 20.0,
 16.0,
 10.0,
 7.0,
 12.0,
 24.0,
 11.0,
 4.0,
 25.0,
 28.0,
 25.0,
 17.0,
 24.0,
 11.0,
 12.0,
 13.0,
 nan,
 19.0,
 20.0,
 6.0,
 9.0,
 9.0,
 10.0,
 18.0,
 28.0,
 10.0,
 12.0,
 16.0,
 20.0,
 12.0,
 8.0,
 9.0,
 9.0,
 40.0,
 10.0,
 nan,
 9.0,
 25.0,
 18.0,
 20.0,
 35.0,
 10.0,
 9.0,
 7.0,
 53.0,
 nan,
 20.0,
 30.0,
 16.0,
 nan,
 16.0,
 15.0,
 13.0,
 16.0,
 nan,
 12.0,
 40.0,
 15.0,
 6.0,
 13.0,
 9.0,
 7.0,
 10.0,
 16.0,
 27.0,
 160.0,
 16.0,
 24.0,
 13.0,
 20.0,
 10.0,
 40.0,
 9.0,
 14.0,
 8.0,
 12.0,
 nan,
 16.0,
 11.0,
 10.0,
 5.0,
 8.0,
 10.0,
 10.0,
 13.0,
 57.0,
 9.0,
 8.0,
 8.0,
 17.0,
 35.0,
 6.0,
 11.0,
 5.0,
 12.0,
 19.0,
 10.0,
 16.0,
 12.0,
 20.0,
 11.0,
 10.0,
 13.0,
 nan,
 6.0,
 17.0,
 9.0,
 22.0,
 9.0,
 13.0,
 16.0,
 12.0,
 8.0,
 17.0,
 8.0,
 10.0,
 23.0,
 12.0,
 16.0,
 11.0,
 9.0,
 12.0,
 26.0,
 24.0,
 10.0,
 7.0,
 13.0,
 23.0,
 14.0,
 20.0,
 25.0,
 6.0,
 20.0,
 15.0,
 14.0,
 15.0,
 15.0,
 17.0,
 18.0,
 15.0,
 15.0,
 13.0,
 15.0,
 15.0,
 6.0,
 12.0,
 14.0,
 14.0,
 7.0,
 20.0,
 16.0,
 7.0,
 10.0,
 8.0,
 9.0,
 8.0,
 nan,
 17.0,
 nan,
 16.0,
 18.0,
 8.0,
 5.0,
 38.0,
 5.0,
 45.0,
 13.0,
 10.0,
 43.0,
 9.0,
 30.0,
 4.0,
 15.0,
 8.0,
 12.0,
 9.0,
 15.0,
 20.0,
 15.0,
 14.0,
 22.0,
 10.0,
 25.0,
 nan,
 nan,
 nan,
 35.0,
 11.0,
 25.0,
 17.0,
 12.0,
 11.0,
 20.0,
 12.0,
 13.0,
 15.0,
 20.0,
 15.0,
 11.0,
 15.0,
 50.0,
 12.0,
 9.0,
 21.0,
 20.0,
 8.0,
 8.0,
 9.0,
 4.0,
 12.0,
 8.0,
 22.0,
 8.0,
 10.0,
 12.0,
 20.0,
 18.0,
 18.0,
 10.0,
 9.0,
 35.0,
 19.0,
 14.0,
 25.0,
 8.0,
 16.0,
 9.0,
 19.0,
 14.0,
 7.0,
 26.0,
 22.0,
 16.0,
 30.0,
 9.0,
 13.0,
 19.0,
 14.0,
 5.0,
 15.0,
 30.0,
 40.0,
 10.0,
 13.0,
 13.0,
 18.0,
 13.0,
 30.0,
 16.0,
 20.0,
 7.0,
 18.0,
 12.0,
 8.0,
 9.0,
 15.0,
 15.0,
 15.0,
 13.0,
 7.0,
 22.0,
 7.0,
 15.0,
 18.0,
 20.0,
 12.0,
 11.0,
 9.0,
 25.0,
 nan,
 8.0,
 nan,
 21.0,
 22.0,
 12.0,
 14.0,
 16.0,
 18.0,
 14.0,
 15.0,
 14.0,
 22.0,
 27.0,
 30.0,
 16.0,
 20.0,
 24.0,
 13.0,
 12.0,
 20.0,
 11.0,
 14.0,
 12.0,
 18.0,
 11.0,
 9.0,
 18.0,
 19.0,
 11.0,
 nan,
 12.0,
 8.0,
 22.0,
 21.0,
 nan,
 10.0,
 12.0,
 23.0,
 15.0,
 70.0,
 11.0,
 10.0,
 8.0,
 21.0,
 16.0,
 19.0,
 4.0,
 35.0,
 9.0,
 20.0,
 17.0,
 9.0,
 5.0,
 10.0,
 12.0,
 23.0,
 10.0,
 10.0,
 13.0,
 12.0,
 19.0,
 nan,
 5.0,
 7.0,
 7.0,
 5.0,
 15.0,
 20.0,
 25.0,
 15.0,
 15.0,
 5.0,
 20.0,
 10.0,
 13.0,
 14.0,
 13.0,
 23.0,
 49.0,
 18.0,
 11.0,
 495.0,
 16.0,
 19.0,
 18.0,
 5.0,
 14.0,
 7.0,
 9.0,
 12.0,
 35.0,
 5.0,
 40.0,
 15.0,
 12.0,
 18.0,
 12.0,
 11.0,
 19.0,
 20.0,
 7.0,
 8.0,
 nan,
 150.0,
 5.0,
 26.0,
 nan,
 19.0,
 14.0,
 16.0,
 22.0,
 18.0,
 nan,
 15.0,
 22.0,
 40.0,
 nan,
 nan,
 6.0,
 32.0,
 nan,
 15.0,
 34.0,
 10.0,
 17.0,
 10.0,
 5.0,
 20.0,
 10.0,
 12.0,
 nan,
 12.0,
 10.0,
 14.0,
 18.0,
 12.0,
 25.0,
 15.0,
 8.0,
 12.0,
 13.0,
 25.0,
 21.0,
 7.0,
 9.0,
 50.0,
 9.0,
 10.0,
 5.0,
 19.0,
 5.0,
 11.0,
 15.0,
 15.0,
 29.0,
 7.0,
 12.0,
 23.0,
 15.0,
 12.0,
 25.0,
 10.0,
 23.0,
 14.0,
 24.0,
 5.0,
 16.0,
 10.0,
 24.0,
 18.0,
 12.0,
 8.0,
 4.0,
 13.0,
 9.0,
 60.0,
 12.0,
 18.0,
 6.0,
 45.0,
 14.0,
 11.0,
 13.0,
 35.0,
 24.0,
 15.0,
 14.0,
 nan,
 9.0,
 20.0,
 18.0,
 nan,
 11.0,
 12.0,
 nan,
 10.0,
 4.0,
 12.0,
 7.0,
 8.0,
 8.0,
 nan,
 6.0,
 10.0,
 12.0,
 20.0,
 18.0,
 14.0,
 15.0,
 236.0,
 25.0,
 25.0,
 30.0,
 13.0,
 14.0,
 25.0,
 30.0,
 45.0,
 14.0,
 112.0,
 nan,
 7.0,
 45.0,
 11.0,
 25.0,
 12.0,
 9.0,
 13.0,
 10.0,
 15.0,
 13.0,
 15.0,
 30.0,
 20.0,
 40.0,
 7.0,
 45.0,
 10.0,
 nan,
 11.0,
 7.0,
 7.0,
 10.0,
 13.0,
 9.0,
 20.0,
 18.0,
 15.0,
 12.0,
 12.0,
 21.0,
 26.0,
 19.0,
 27.0,
 14.0,
 nan,
 10.0,
 27.0,
 9.0,
 10.0,
 29.0,
 10.0,
 13.0,
 20.0,
 10.0,
 6.0,
 9.0,
 8.0,
 9.0,
 10.0,
 18.0,
 17.0,
 18.0,
 36.0,
 8.0,
 45.0,
 7.0,
 40.0,
 25.0,
 24.0,
 13.0,
 11.0,
 10.0,
 11.0,
 18.0,
 8.0,
 10.0,
 15.0,
 27.0,
 16.0,
 14.0,
 17.0,
 16.0,
 nan,
 23.0,
 7.0,
 9.0,
 11.0,
 11.0,
 13.0,
 15.0,
 12.0,
 nan,
 nan,
 7.0,
 12.0,
 20.0,
 13.0,
 16.0,
 16.0,
 nan,
 19.0,
 nan,
 20.0,
 5.0,
 13.0,
 9.0,
 19.0,
 15.0]

In [22]:
d={"Max": Table_max, "min": Table_min}
d1=pd.DataFrame(d, index=v.index)
d1

               Max   min
variety
Abouriou      75.0  15.0
Agiorgitiko   66.0  10.0
Aglianico    180.0   6.0
Aidani        27.0  27.0
Airen         10.0   8.0
...            ...   ...
Zinfandel    100.0   5.0
Zlahtina      16.0  13.0
Zweigelt      70.0   9.0
Çalkarası     19.0  19.0
Žilavka       15.0  15.0

[707 rows x 2 columns]

In [24]:
#Question 4:

from pandas import Series
n=R.groupby("taster_name").points.unique()
T=[]
for i in range(len(n.index)):
    T.append(np.mean(n[i]))
S=Series(T, index=n.index)
S

taster_name
Alexander Peartree    85.500000
Anna Lee C. Iijima    89.000000
Anne Krebiehl MW      88.941176
Carrie Dykes          86.090909
Christina Pickard     87.750000
Fiona Adams           86.857143
Jeff Jenssen          89.500000
Jim Gordon            88.500000
Joe Czerwinski        90.000000
Kerin O’Keefe         90.000000
Lauren Buzzeo         88.000000
Matt Kettmann         89.000000
Michael Schachner     89.000000
Mike DeSimone         88.000000
Paul Gregutt          90.000000
Roger Voss            90.000000
Sean P. Sullivan      88.500000
Susan Kostrzewa       87.000000
Virginie Boone        89.500000
dtype: float64

In [25]:
#Question 5:

R.points.dtypes

dtype('int64')

In [26]:
#Question 6:

l=R[pd.isnull(R.price)]
print("Sur",len(R.price),"avis il manque ", len(l))

Sur 129971 avis il manque  8996